{% extends "base.html" %}

{% block css %}
<link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="table_choice" data-name='rooms'>Rooms</div>
    <div class="table_choice active" data-name='users'>Users</div>
    <div id="dynamictable"></div>
    </br>
    <div id="add_record"></div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/project.js"></script>
<script>
$(document).ready(function () {
    $(".table_choice").click(function () {
        var name_model;
        name_model = $(this).attr('data-name');
        $('.active').removeClass('active')
        $(this).addClass('active');
        main(model = name_model);
        create(model = name_model);
    })
    $('.active').click()
})
</script>
{% endblock %}
